.env
/Data/external_data/*
/Data/transformed_data/*
/Data/to_explore/*
/Data/rough_data/*
/Data/projections/*
/Data/external_data/*
/Logs/*
/Plots/*
/Scripts/Backups
/Scripts/*.ipynb
/Models/*
/venv
!/Data/transformed_data/historical_sales_data.csv
!/Data/transformed_data/categorised_articles.xlsx
!/Data/to_explore/unique_article_names_for_mapping.xlsx
!/Data/to_explore/unique_article_names_for_mapping.xlsx
!/Models/fitted_models_results.pkl
!/Data/external_data/holidays.csv
!/Data/to_explore/unique_article_names_for_mapping.xlsx