.env
/Data/transformed_data/*
/Data/to_explore
/Data/rough_data/*
/Data/projections/*
/Data/external_data/*
/Scripts/Backups
/Scripts/*.ipynb
/Models/*.pkl
/venv
!/Data/transformed_data/historical_sales_data.csv
!/Data/transformed_data/categorised_articles.xlsx
!/Data/to_explore/unique_article_names_for_mapping.xlsx